/*colors :
6C6E58
3E423A
417378
A4CFBE
F4F7D9*/

* {
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*nav section */
nav {
  z-index: 12;
  width: 100vw;
  position: fixed;
  height: 10vh;
  background-color: #3E423A;
  display: flex;
  flex-direction: row-reverse;
}

.nav-obj {
  color: #F4F7D9;
  padding: 2vw;
}
.nav-obj a {
  text-decoration: none;
  color: inherit;
}
.nav-obj:hover {
  border-bottom: solid 3px #F4F7D9;
}

/*home for name*/

.home {
  height: 50vh;
  background-color: #3E423A;
  display: flex;
}
.home h1 {
  font-size: 5vh;
  display: inline-block;
  color: #F4F7D9;
  margin: auto;
}


/*portfolio section*/

.work {
  background-color: #F4F7D9;
}
.work .portfolio-container {
  margin: 0 10vw 0 10vw;
  padding: 5vh 5vh 20vh 5vh;
  display: flex;
  flex-wrap: wrap;
}
.work .portfolio-obj {
  /*background-color: red;*/
  margin: auto;
  align-items: center;
  padding: 2vh;
}
.work .portfolio-obj:hover {
  background-color: #A4CFBE;
  border-radius: 2vh;
}
.work .portfolio-obj .image-container  {
  margin: 0 auto;
  align-items: center;
  width: 20vw;
  height: 20vh;
}
.work .portfolio-obj .image-container a  {
  display: block;
  height: 100%;
  width: 100%;
}
.image-container a div{
  border-radius: 1vh;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.shooting-gallery {
  background-image: url('https://res.cloudinary.com/teefmummy/image/upload/v1528393910/Portfolio%20Site/Shooting-Gallery.png');
}
.tournament-maker {
  background-image: url('https://res.cloudinary.com/teefmummy/image/upload/v1528396880/Portfolio%20Site/Tournament-Maker.png');
}
.locations-list {
  background-image: url('https://res.cloudinary.com/teefmummy/image/upload/v1528401860/Portfolio%20Site/Travel_Locations_Project.png');
}
.image-container a .japan-tour {
  background-image: url('https://res.cloudinary.com/teefmummy/image/upload/v1528402407/Portfolio%20Site/Tour_Japan.png');
}
.image-container a .flashcard-app {
  background-image: url('https://res.cloudinary.com/teefmummy/image/upload/v1528403495/Portfolio%20Site/Flashcard_App.png');
}

/*about me section */

.about-me {
  position: relative;
  background-color: #A4CFBE;
  height: 80vh;
}
.about-me .profile-image-container img {
  vertical-align: middle;
  margin-top: -10vw;
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
  background: center no-repeat;
}

.about-me h2 {
  font-size: 5vh;
  height: 10vh;
  padding-top: 1vw;
}
.about-me .about-me-info-container {
  height: 40vh;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
/*  background-color: #F4F7D9
*/}
.about-me .about-me-text {
  overflow: scroll;

  margin: 0 2vh;
  padding: 2vh;
  text-align: left;
  width: 30vw;
  background-color: #F4F7D9;
}
.about-me .about-me-skills {
  overflow: scroll;

  margin: 0 2vh;
  padding: 2vh;
  list-style: none;
  width: 30vw;
  background-color: #F4F7D9;
}
.about-me .about-me-skills li {
  text-align: left;
  padding-bottom: 1vh;
}
.about-me .links-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.about-me .links-container div a{
  width: 8vh;
  height: 8vh;
  margin-bottom: 2vh;
}
.github {
  content:url('./images/github-logo.png');
}
.linkedin {
  margin: 0 2vw 0 2vw;
  content:url('./images/linkedin-logo.png');
}
.mail {
  content:url('./images/mail-logo.png');
}

/*footer section*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F4F7D9;
  height: 10vh;
  background-color: #3E423A;
}
footer p {
  margin: 0 auto;
}


